a {
  text-decoration: none;
  color: #474a6e;
  display: inline-block;
}


.titleText {
    font-size: 5vh;
    float: left;
    color: #474a6e;
    font-weight: bold;
    left: 0;
    width: 100%;
    margin-bottom: 0;
    text-align: left;
}

.topicContainer {
  margin: 5%;
}

.paragraphText {
  font-size: 3vh;
  float: left;
  position: relative;
  color: #474a6e;
  text-align: left;
  width: 75%;
  margin-right: 10%;
}

.textDiv {
  margin: 0%;
}

.me-waving {
  width: 20%;
  right: 5%;
  position: absolute;
  margin-left: 10%;
  margin-top: 5%;
}