a {
    text-decoration: none;
    color: #474a6e;
    display: inline-block;
  }
  

  .titleText {
      font-size: 5vh;
      float: left;
      color: #474a6e;
      font-weight: bold;
      left: 0;
      width: 100%;
      margin-bottom: 0;
      text-align: left;
  }
  .pic-of-lax {
    width: 35vh;
    right: 5%;
    position: absolute;
    margin-left: 10%;
    margin-top: 5%;
  }
  .topicContainer {
    margin: 8%;
    display: flex;  
    white-space: pre-line;
  }

  .paragraphText {
    font-size: 3vh;
    float: left;
    position: relative;
    color: #474a6e;
  }

  .textDiv {
    margin: 0%;
  }