.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
  border-radius: 50%;
  margin-bottom: 5vh;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #282c34;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.logo {
  color: #474a6e;
  display: inline-block;
  margin: 2vh;
  font-size: 3vh;
}

a {
  text-decoration: none;
  color: white;
  display: inline-block;
}

.pic-of-me {
  border-radius: 50%;
  width: 40vh;
  height: 40vh;
  margin: 5vh;
  display: inline-block;
}

.title-text {
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 5vh;
}

.location-text {
  margin-top: 0px;
  margin-bottom: 2vh;
  font-size: 3vh;
}